@import "tailwindcss";

@theme {
  --color-primary: #e50914;
  --color-primary-hover: #f40612;
  --color-bg: #141414;
  --color-surface: #2b2b2b;
}

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  background-color: var(--color-bg);
  color: white;
}
